/* BASSCSS Utilities */

:root {
  --space-1: .5em;
  --space-2: 1em;
  --space-3: 2em;
  --space-4: 4em;
}

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);

@import "./lib/layout.css";
@import "./lib/floats.css";
@import "./lib/sm-floats.css";
@import "./lib/md-floats.css";
@import "./lib/lg-floats.css";
@import "./lib/typography.css";
@import "./lib/margins.css";
@import "./lib/padding.css";
@import "./lib/responsive-states.css";


